
 
<div id="com">
 <p>
  Mark:
  <%= comment.mark %>
</p>
<p>
  "<%= comment.body %>"
</p>
<p id="author">
  <strong>~</strong>
  <%= comment.commenter %>
</p>
<p id="del">
  <%= link_to 'Delete Comment', [comment.game, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
</div>
