<%= form_for([@game, @game.comments.build]) do |f| %>

    <div id="form">
     <p>
    Author:
    <p><%= f.text_field :commenter %></p>
    </p>
    <p>
    Mark ( beetwen 1 and 10):
    <p><%= f.text_field :mark %></p>
  </p>
  <p>
    Comment:
    <p><%= f.text_area :body %></p>
  </p>
  <p id="addc">
    <%= f.submit %>
  </p>
  </div>
<% end %>