<%= form_for @game do |f| %>
 
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@game.errors.count, "error") %> prohibited
        this game from being saved:
      </h2>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p id="n">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p id="n">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>
 
  <p id="ub">
    <%= f.submit %>
  </p>
 
<% end %>