<body>

<div>
<h1>List of games</h1>
 <div class = "container">
<table class="table table-default">

  <tr>
    <th>Name</th>
    <th>Year</th>
    <th colspan="2"></th>
   
  </tr>

  <% @games.each do |game| %>
    <tr c>
      <td><%= game.name %></td>
      <td><%= game.year %></td>
      <td><%= link_to 'Show', game_path(game) %></td>
      <td><%= link_to 'Edit', edit_game_path(game) %></td>
      <td><%= link_to 'Delete', game_path(game),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
    
   
     <% end %>
      <% if @games.count > 8 %>
        <%= will_paginate @games %>
    <% end %>
     </table>
    </div>
  <p id="newg">  
   <%= link_to 'New game', new_game_path %>
  </p>
  <p id="search" ><%= form_tag(games_path, :method => "get", id: "search-form") do %>
  </p>
  <p>
  <%= text_field_tag :search, params[:search], placeholder: "Search Games" %>
  <div class="bs"><%= submit_tag "Search", :name => nil %></div>
<% end %>
 </p>
  
  
</table>
</div>
</body>