<div id="ny">
 <p>
  <strong>Name:</strong>
  <%= @game.name %>
</p> 
<p>
  <strong>Year:</strong>
  <%= @game.year %>
</p>
<strong>Avg Mark :</strong>
 <%= @game.comments.average(:mark) %>
<p id="but">
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
</p>
</div>
 
<div id="cm"> 
<h2>Comments</h2>
<%= render @game.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
 

</div> 