#com{
    border: 1px;
    border-left-color: #3692BA;
    border-top-color: #3692BA;
    border-bottom-color: #34708A;
    border-right-color: #34708A;
    border-style: outset;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 15px;
    
    #author{
         text-align: right;
         font-style: italic;    
}
    #del{
    text-align: right;
    }
}

    #form{
        border: 1px;
        border-left-color: #3692BA;
        border-top-color: #3692BA;
        border-bottom-color: #34708A;
        border-right-color: #34708A;
        border-style: outset;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        padding: 15px;
        
        #addc{
        margin-left: 250px;
        }
}

