// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-color: lightblue;

    h1{
        border: 2px;
        border-style: solid;
        color: #3692BA;
        background-color: #F9F9F9;
        text-align: center;
    }
    
    #n{
        width: 300px;
        background-color: #F9F9F9;
        margin-left: auto;
        margin-right: auto; 
        text-align: center;

}
    #ub{
        width: 100px;
        margin-left: auto;
        margin-right: auto;  
    }
    #back{
        width: 50px;
        margin-left: auto;
        margin-right: auto;
    
}
    #newg{
        width: 80px;
        margin-left: auto;
        margin-right: auto;
        
    }
    #backn{
        width: 50px;
        margin-left: auto;
        margin-right: auto;        
    }
    #ny{
        margin-left: 200px;
        margin-top: 100px;
        float: left;
        border: 2px;
        border-style: outset;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        background-color: #F9F9F9;
        padding: 15px;
        #but{
         margin-left: 10px;   
        }
        
    }
    #cm{
        h2{
         text-align: center;   
         color: #3692BA;
        }
        width: 700px;
         border: 2px;
        border-style: outset;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        background-color: #F9F9F9;
        padding: 15px;
        margin-left: auto;
        margin-right: 200px;
        margin-top: 100px;
        float: right;
        
    }
     #search{
      margin-left: 44%;   
     }
    
    
     .bs{
     margin-left: 47%;
            
       }
}
